<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>news_wordcloud</title>
</head>
<style>
ul {
	list-style-type: none;
}

div{
float: left;
border-radius: 10px;
background-color: #BBD1EA;
margin-left: 5%;
margin-right: 5%;
padding: 30px;
padding-left: 40px;
padding-right: 40px;
white-space:nowrap;
}
div a{
	color: black;
	text-align: center;
	text-decoration: none;
}

div a.active{
	color: lavender;
	background-color: darkmagenta;
}

div:hover:not(.active)
{
	background-color: rgb(219, 220, 223, 0);
	color: white;
}

img{
	padding-right: 10px;
}
</style>
<body bgcolor="#F1F5F8">

<div style="background-color: #F1F5F8">
	<img src="data:;base64,{{ logo_stream }}" width="1000" height="500"\>
</div>


<div style="background-color:#F1E3DC">
	<img src="data:;base64,{{ free_stream }}" width="25" height="25" style="float: left">
	<a href="http://35.76.188.119:8080/libertytimes">自由電子報</a>
</div>
<div style="background-color: #DDE3E5">
	<img src="data:;base64,{{ china_stream }}" width="25" height="25" style="float: left">
	<a href="http://35.76.188.119:8080/chinatimes">中時電子報</a>
</div>
<div style="background-color: #BCC9D6">
	<img src="data:;base64,{{ udn_stream }}" width="25" height="25" style="float: left">
	<a href="http://35.76.188.119:8080/udn">聯合新聞網</a>
</div>
<div style="background-color: #8D9DB7">
<a href="http://35.76.188.119:8080/about" style="color:white">關於我</a>
</div>




</body>

</html>
