<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聯合電子報</title>
</head>
<style>


li{
width: 600px;  
float: left;
display: block;
padding: 10px;
}
img{
background-color:"#F1F5F8";
}
</style>
<body bgcolor="#F1F5F8">

    <img style="width:720px" src="data:;base64,{{ img_stream }}">
    <img style="width:500px" src="data:;base64,{{ bar_stream }}">
    <button onclick="window.location.href='http://35.76.188.119:8080/'">按我回首頁</button>
    
    <thead>
        <h2>新聞標題及網址</h2>
    </thead>
    <tbody>
	<ul>
        {% for i in news %}
	    <li>
                <a style="color: blue" href={{i.url}} target="_blank" title="">{{i.title}}</a>
            </li>
	 {% endfor %}
	</ul>


    </tbody>
    



</body>
</html>
